{% extends "_base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="offset-s2 col s8 offset-s2">
            <h1>Register</h1>
        </div>
        {% from "includes/formhelpers.html" import render_field %}
        <form method="POST" action="">
            <div class="input-field offset-s2 col s8 offset-s2">
                {{render_field(form.email, class_="input-field ")}}
            </div>
            <div class="input-field offset-s2 col s8 offset-s2">
                {{render_field(form.username, class_="input-field ")}}
            </div>
            <div class="input-field offset-s2 col s8 offset-s2">
                {{render_field(form.password, class_="input-field ")}}
            </div>
            <div class="input-field offset-s2 col s8 offset-s2">
                {{render_field(form.confirm, class_="input-field ")}}
            </div>
            <div class="offset-s2 col s8 offset-s2">
                <input type="submit" class="btn" value="Submit">
            </div>
        </form>
    </div>
</div>

{% endblock %}